@media (max-width: 480px) {

    html,
    body {
        overflow: hidden;
    }

    body {
        background-size: auto;
    }

    h1 {
        font-family: 'VT323', monospace;
        font-size: 2rem;
    }

    .weather-forecast>* {
        margin: 0;
    }

    #get-weather-btn {
        font-family: 'Roboto', sans-serif;
    }

    th,
    td {
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1280px) {
    #get-weather-btn:hover {
        box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.7);
    }
}

@media (min-width: 1281px) {
    #get-weather-btn:hover {
        box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.7);
    }
}