* {
    margin: 0;
    padding: 0;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: xxx-large;
}

.weather-forecast {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-align: inherit;


    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
}
.weather-forecast > * {
    margin: 1rem;
}

html,
body {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background: linear-gradient(to bottom right, rgba(0,0,0,1) 50%, rgba(0,0,0,0.75) 80%, rgba(0,0,0,.5) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.weather-container>* {
    margin: 1em;
}

#weatherInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#weatherInfo > p{
    color: rgba(255, 255, 255, 0.5);
}

#current-info {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;

}


#current-info>.combo {
    display: flex;
}

#current-info>div>.key {
    display: flex;
    width: 23ch;
    font-weight: bold;
}


#get-weather-btn {
    cursor: pointer;
    transition: .4s;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    width: fit-content;
    height: 2.5rem;
}



.table-container {
    max-height: 50vh;
    overflow: auto;
    width: 90vw;
    border-radius: 15px;
    scroll-behavior: smooth;
}

.table-container::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
    width: inherit;
    white-space: nowrap;
    background: rgba(255, 255, 255, 1);
}



th,
td {
    padding: 8px;
    text-align: left;
}

th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
    outline: 1px solid black;
}


th:first-child {
    left: 0;
    z-index: 2;
}

td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

#time_header {
    position: sticky;
    z-index: 3;
    left: 0;

}


footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 15px;
}

footer > * {
    user-select: none;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    width: fit-content;
    height: 3rem;
    background: transparent;
}

#currently_btn {
    color: rgb(255 255 255);
}


#toggle_btn {
    font-size: xxx-large;
    background: -webkit-linear-gradient(bottom right,#000, #fff);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hourly_btn {
    font-weight: 600;
}